body {
  margin: 0 0 0 0;
  font: 100% Helvetica, sans-serif;
  color: #333; }

.subReddits .mySubs {
  padding-right: 10px;
  float: left; }
.subReddits .moreSubs {
  float: right; }
.subReddits .listSubReddits {
  background-color: #F0F0F0;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px; }
.subReddits .subreddit {
  display: inline;
  margin-right: 10px; }
  .subReddits .subreddit:hover {
    text-decoration: underline; }
  .subReddits .subreddit.active {
    color: red; }
.subReddits .logo {
  float: left; }
