body {
  position: absolute;
  margin: 0 0 0 0;
  font: 100% Helvetica, sans-serif;
  color: #333; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%; }

.navbar {
  border: 1px;
  position: absolute;
  height: 20px;
  width: 100%;
  background-color: #F0F0F0;
  float: left; }
  .navbar .subReddits {
    margin-top: 4px;
    font-weight: 100;
    font-size: small; }
    .navbar .subReddits .mySubs {
      padding-right: 40px;
      float: left; }
    .navbar .subReddits .moreSubs {
      float: right;
      font-weight: bold; }
    .navbar .subReddits .listSubReddits, .navbar .subReddits .orderby {
      float: left;
      margin-top: 0px;
      margin-left: 0px;
      padding-top: 0px;
      padding-left: 0px; }
    .navbar .subReddits .orderby:after {
      content: "|";
      padding-right: 5px; }
    .navbar .subReddits .subreddit, .navbar .subReddits .orderbyItem {
      display: inline; }
      .navbar .subReddits .subreddit:before, .navbar .subReddits .orderbyItem:before {
        content: " -    "; }
      .navbar .subReddits .subreddit:first-child:before, .navbar .subReddits .orderbyItem:first-child:before {
        content: none; }
      .navbar .subReddits .subreddit:hover, .navbar .subReddits .orderbyItem:hover {
        text-decoration: underline; }
      .navbar .subReddits .subreddit.active, .navbar .subReddits .orderbyItem.active {
        color: red; }
    .navbar .subReddits .logo {
      float: left; }
