$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$grey1: #F0F0F0;
$lightBlue: #ADD8E6;
$subtleBlue: #c9dee5;
$borderBlue: red;

.logoBar {
  // position: relative;
  float: left;
  margin: 20px;
  margin-left: 0px;
  width: 100%;
  height: 50px;
  background-color: $lightBlue;
  border: 1px solid  $borderBlue;  
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin-bottom: 0px;

  // border-bottom-style: 5px solid; 
  // margin: 0 0 0 0;  
  // padding: 0 0 0 0; 
  // font: 100% $font-stack;
  // color: $primary-color;
  .logoImg {
    float: left;
    height: 50px;
    width:150px;

  }

  .navTab {
    float:left;
    position: relative;
    width: 50%;
    height: 55px;
    display: inline-block;

    .tabMenu {
      position:absolute;
      // float: left;
      padding-left: 0px;
      margin-left: 15px;
      // margin-bottom: 10px;
    // vertical-align: bottom;
      top: 17;
      // z-index: -1;
      // bottom: 0px;
      // margin-bottom: 0px;
      // margin-top: 0px;
      // padding-top: 0px;

      .choice {
        // position: absolute;
        background-color: $subtleBlue;
        display: inline;
        margin-left: 5px;
        padding-left: 2px;
        padding-right: 0px;
        padding-top: 2px;
        // padding-bottom: 1px;

        &.active {
      // position:absolute;

          border: 1px solid $borderBlue; 
          // top:20;
          background-color: white; 
          border-bottom-style: none;


        }
      }

    }
  }

}