.logoBar {
  float: left;
  margin: 20px;
  margin-left: 0px;
  width: 100%;
  height: 50px;
  background-color: #ADD8E6;
  border: 1px solid red;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none; }
  .logoBar .logoImg {
    float: left;
    height: 50px;
    width: 150px; }
  .logoBar .navTab {
    float: left;
    position: relative;
    width: 50%;
    height: 55px;
    display: inline-block; }
    .logoBar .navTab .tabMenu {
      position: absolute;
      padding-left: 0px;
      margin-left: 15px;
      top: 17; }
      .logoBar .navTab .tabMenu .choice {
        background-color: #c9dee5;
        display: inline;
        margin-left: 5px;
        padding-left: 2px;
        padding-right: 0px;
        padding-top: 2px; }
        .logoBar .navTab .tabMenu .choice.active {
          border: 1px solid red;
          background-color: white;
          border-bottom-style: none; }
